<mat-card class="center-screen">
<mat-form-field appearance="fill" >
  <mat-label>House Select</mat-label>
  <mat-select (selectionChange)="changeHouse($event.value)">
    <mat-option *ngFor="let house of houses" [value]="house.value">
      {{house.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="fill" >
  <mat-label>Point Select</mat-label>
  <mat-select (selectionChange)="changePoint($event.value)">
    <mat-option *ngFor="let point of points" [value]="point.value">
      {{point.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <br>
<mat-form-field appearance="fill" >
  <mat-label>Student Name</mat-label>
  <input name = "studentName" matInput [(ngModel)]="name">
</mat-form-field>
  <br>
<mat-form-field appearance="fill" >
  <mat-label>Reason</mat-label>
  <input name = "reason" matInput [(ngModel)]="reason">
</mat-form-field>
  <br>
<button routerLink="confirmation" mat-raised-button color="primary" (click)="submitPoints(); goToConfirmation()" >Submit</button>
</mat-card>
