<div class="text-center" xmlns="http://www.w3.org/1999/html">
  <h3>Select House</h3>
<select name="House Select">
  <option selected="selected" value="Phileo">Phileo</option>
  <option value="Chara">Chara</option>
  <option value="Gratia">Gratia</option>
  <option value="Veritas">Veritas</option>
  <option value="Aequitas">Aequitas</option>
</select>

<h3>Enter Point Amount</h3>
  <input type="number" id="Point Amount" name  ="Point Amount"
         min="0" max="100">

  <button mat-flat-button color="primary" (click)="sendInfo('House Select', 1)">Enter Points</button>

</div>


