<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button color="link" aria-label="Example icon button with a home icon" routerLink="home" >
    <mat-icon>home</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="teacher" *ngIf="(afAuth.authState | async)">Teacher Panel</button>
    <button mat-menu-item routerLink="logViewer" *ngIf="(afAuth.authState | async)">Log View</button>
    <button mat-menu-item *ngIf="(afAuth.authState | async) === null" (click)="signIn()">Login</button>
    <button mat-menu-item routerLink="home" *ngIf="(afAuth.authState | async)" (click)="signOut()">Logout</button>
  </mat-menu>
  <span>House Points</span>
</mat-toolbar>
<router-outlet></router-outlet>
