<!--<div #home xmlns="http://www.w3.org/1999/html">-->




<!--  <mat-grid-list cols="3" rowHeight="4:3" gutterSize="4px">-->
<!--    <mat-grid-tile *ngFor="let house of houses" [style.background]="house.color">-->
<!--      <div class="house-score-flex">-->
<!--        <p class="house-name">{{house.name}}</p>-->
<!--        <p class="house-score">{{house.score}}</p>-->
<!--      </div>-->
<!--    </mat-grid-tile>-->

<!--    <mat-grid-tile>-->
<!--      <div id="leaderboard-container">-->
<!--        <h1>Leaderboard</h1>-->
<!--        <p *ngFor="let house of houses_sorted()"><span *ngIf="is_highest_score(house.score)">🏆 </span>{{house.name}}: {{house.score}} Points</p>-->
<!--      </div>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--</div>-->

<div #home>

  <mat-grid-list cols="0" rowHeight="4:3" gutterSize="16px" >
<!--    <mat-grid-tile *ngFor="let house of houses" [style.background]="house.color">-->
<!--      <div class="house-score-flex">-->
<!--        <p class="house-name">{{house.name}}</p>-->
<!--        <p class="house-score">{{house.score}}</p>-->
<!--      </div>-->
<!--    </mat-grid-tile>-->

    <mat-grid-tile>
      <div class="leaderboard">
        <h1>House Points Leaderboard</h1>
        <div class="podium">
          <div class="podium-item second-place">
            <span class="podium-rank">2nd</span>
            <img class="podium-image2" [src]="getSecondHighestImage()" alt="2nd Place Image">
            <span class="podium-name2" [style.color]="getColor(2)">{{getSecondHighestName()}}</span>
            <span class="podium-score">{{getSecondHighestScore()}} pts.</span>
          </div>
          <div class="podium-item first-place" data-hover-text="sa">
            <span class="podium-rank">1st</span>
            <img class="podium-image1" [src]="getHighestImage()" alt="1st Place Image">
            <span class="podium-name1" [style.color]="getColor(1)" >{{getHighestName()}}</span>
            <span class="podium-score">{{getHighestScore()}} pts.</span>
          </div>
          <div class="podium-item third-place">
            <span class="podium-rank">3rd</span>
            <img class="podium-image3" [src]="getThirdHighestImage()" alt="3rd Place Image">
            <span class="podium-name3" [style.color]="getColor(3)" >{{getThirdHighestName()}}</span>
            <span class="podium-score">{{getThirdHighestScore()}} pts.</span>
          </div>
        </div>
        <ul class="leaderboard-list">
          <span class="podium-rank" style="padding-left:10px">4th </span>
          <span class="leaderboardStats4" style="padding-left:20px">{{getFourthHighestName()}}</span>
          <span class="leaderboardStats4" style="padding-left:20px">{{getFourthHighestScore()}} points</span>
        </ul>
        <ul class="leaderboard-list">
          <span class="podium-rank" style="padding-left:10px">5th </span>
          <span class="leaderboardStats5"style="padding-left:20px">{{getFifthHighestName()}}</span>
          <span class="leaderboardStats5"style="padding-left:20px">{{getFifthHighestScore()}} points</span>
        </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
